.wd-tabs li {
    display: inline;
}

.wd-tabs {
    padding-left: 0px;
}

.wd-selected {
    border-bottom: 2px blue solid;
    padding-bottom: 20px;
}

.wd-nudge-up {
    bottom: 0.5rem;
    left: 1.5rem;
}

.wd-bottom-2 {
    bottom: 2px;
}

.wd-bottom-4 {
    bottom: 4px;
}

.wd-pos-absolute-profile-banner {
    position: absolute;
    top: 180px;
    left: 20px;
}

.wd-no-underline {
    text-decoration: none;
}

.wd-punk-image-size-home {
    width: 100px;
    height: 280px;
}

.wd-punk-image-size-detail {
    width: 200px;
    height: 550px;
}